{% import_yaml 'plex/defaults.yaml' as default_settings %}
{% set plex = salt['pillar.get']('plex', default=default_settings.get('plex'), merge=True) %}

{% set arch = 'x86_64' if salt['grains.get']('cpuarch') == 'x86_64' else 'i386' %}
{% set extension = '_' + arch + '.deb' if salt['grains.get']('os_family') == 'Debian' else '.' + arch + '.rpm' %}
{% set url = 'https://downloads.plex.tv/plex-media-server/' + plex.version + '/plexmediaserver-' + plex.version +  extension %}

{% do plex.update({
  'url': url
}) %}
