{% import_yaml 'plex/defaults.yaml' as default_settings %}
{% set plex = salt['pillar.get']('plex', default=default_settings.get('plex'), merge=True) %}



{% set j1, j2, x86, extension = ('_', '_', 'amd64', '.deb') if salt['grains.get']('os_family') == 'Debian' else ('-', '.', 'x86_64', '.rpm') %}
{% set arch = x86 if salt['grains.get']('cpuarch') == 'x86_64' else 'i386' %}

{% if 'latest' in plex.version %}
    {# https://plex.tv/downloads/latest/5?&build=linux-x86_64&distro=debian #}
    {# set url =  'https://plex.tv/downloads/latest/5?&build=linux-x86_64&distro=debian' #}
    {% set latest = salt['cmd.run']('curl -s -H "application/json" https://plex.tv/pms/downloads/5.json')|tojson %}

    {% set url = salt['cmd.run']('jq -MRrc --slurp \'.computer.Linux.releases[]|'|safe +
            'select(.build|contains("'|safe + salt['grains.get']('cpuarch') + '"))|'|safe +
            'select(.label|contains("'|safe + salt['grains.get']('os_family') + '")).url\''|safe
            , stdin=latest, bufsize=-1) %}
{% else %}

    {% set url = 'https://downloads.plex.tv/plex-media-server/' + plex.version + '/plexmediaserver' + j1 + plex.version + j2 + arch + extension %}
{% endif %}


{% do plex.update({
  'url': url
}) %}
